#Using file handling, extract and read data from the data.txt file, and store that in a list.

In [ ]:
myList=[3, 4, 7, 9, 8, 10, 24, 985, 346, 793, 13, 47, 84, 102, 735, 1]
myList

[3, 4, 7, 9, 8, 10, 24, 985, 346, 793, 13, 47, 84, 102, 735, 1]

Q1 - Find out the mean and median of the data you extracted and stored in the list, without using any libraries.

In [ ]:
myList_sum = sum(myList)
#divide the sum with length of the list
mean = myList_sum / len(myList)
print("Mean of the above list of numbers is: " + str(round(mean,2)))
# Sort the list
myList.sort()
# Finding the position of the median
if len(myList) % 2 == 0:
   first_median = myList[len(myList) // 2]
   second_median = myList[len(myList) // 2 - 1]
   median = (first_median + second_median) / 2
else:
   median = myList[len(myList) // 2]
print("Median of above list is: " + str(median))

Mean of the above list of numbers is: 198.19
Median of above list is: 18.5

Q2 - Divide the list into 2 separate lists, based on the median. The first list will have all numbers less than the median, and the 2nd list will have all the numbers greater than the median, including the median. Use list slicing to achieve this.

In [ ]:
myList=[3, 4, 7, 9, 8, 10, 24, 985, 346, 793, 13, 47, 84, 102, 735, 1]
List=sorted(myList)
print(List)
print("list of numbers less than median is: "+str(List[0:8]))
print("list of numbers greater than median is: "+str(List[8:]))

[1, 3, 4, 7, 8, 9, 10, 13, 24, 47, 84, 102, 346, 735, 793, 985]
list of numbers less than median is: [1, 3, 4, 7, 8, 9, 10, 13]
list of numbers greater than median is: [24, 47, 84, 102, 346, 735, 793, 985]

###Given below is a dictionary containing the details of people taking Covid-19 test.

In [ ]:
"""
Key - name of the patient
Values - array of 
                1 - Whether the patient has covid-19 or not
                2 - The patient's age
                3 - The temperature of the patient in Fahrenheit Scale
"""
details = {'Ratchel' : ['No', 24, 97], 'Shrek' : ['No', 31, 99], 'Gillard' : ['No', 21, 98], 'Rea' : ['Yes', 23, 102], 'Adam': ['No', 67, 95]}
details

{'Adam': ['No', 67, 95],
 'Gillard': ['No', 21, 98],
 'Ratchel': ['No', 24, 97],
 'Rea': ['Yes', 43, 102],
 'Shrek': ['No', 31, 99]}

Q3 - From the above dictionary, list out all the people who don't have Covid-19, as well as their age lies in the range of 20 - 30 years old

In [2]:
for i in details:
  if(details[i][0]=="No" and (20<details[i][1]<30)):
    print(i,details[i])

Ratchel ['No', 24, 97]
Gillard ['No', 21, 98]

Q4 - Sort the above dictionary in decreasing order on the basis of their temperatures.

In [4]:

#details = {'Ratchel' : ['No', 24, 97], 'Shrek' : ['No', 31, 99], 'Gillard' : ['No', 21, 98], 'Rea' : ['Yes', 23, 102], 'Adam': ['No', 67, 95]}
#dict1 = dict( sorted(details.items(),
                           #key=lambda item:item[1][2],
                           #reverse=True))
dict2=sorted(details.items(),key=lambda item:item[1][2],reverse=True)
print(dict2)

[('Rea', ['Yes', 23, 102]), ('Shrek', ['No', 31, 99]), ('Gillard', ['No', 21, 98]), ('Ratchel', ['No', 24, 97]), ('Adam', ['No', 67, 95])]

##Q5 - Write a simple python script to accept a string as input, and find those words which appear more than 2 times in the string.

E.g. - What profession did Harvard call the Sexiest Job of the 21st Century? That’s right… the data scientist. Ah yes, the ever mysterious data scientist. So what exactly is the data scientist’s secret sauce, and what does this “sexy” person actually do at work every day? This article is intended to help define the data scientist role, including typical skills, qualifications, education, experience, and responsibilities. This definition is somewhat loose since there really isn’t a standardized definition of the data scientist role, and given that the ideal experience and skill set is relatively rare to find in one individual. This definition can be further confused by the fact that there are other roles sometimes thought of as the same, but are often quite different. Some of these include data analyst, data engineer, and so on. More on that later.

Output - 
what
the
of
data
is
and
this
definition
that

In [ ]:
#I have written the same script given in the example. 

def word_count(str):
    sentence = dict()
    words = str.split()

    for i in words:
        if i in sentence:
            sentence[i] += 1
        else:
            sentence[i] = 1

    #return sentence
    for key,value in sentence.items():
      if value>2:
         print(key)

str="What profession did Harvard call the Sexiest Job of the 21st Century? That’s right… the data scientist. Ah yes, the ever mysterious data scientist. So what exactly is the data scientist’s secret sauce, and what does this “sexy” person actually do at work every day? This article is intended to help define the data scientist role, including typical skills, qualifications, education, experience, and responsibilities. This definition is somewhat loose since there really isn’t a standardized definition of the data scientist role, and given that the ideal experience and skill set is relatively rare to find in one individual. This definition can be further confused by the fact that there are other roles sometimes thought of as the same, but are often quite different. Some of these include data analyst, data engineer, and so on. More on that later."
word_count(str)

the
of
data
is
and
This
definition
that



---



---



---