##Using file handling, extract and read data from the data.txt file, and store that in a list.

In [1]:
with open('data.txt') as d:
  listItems = d.read().split() #Splitting of the individual elements 
  listItems = [int(i) for i in listItems] #Converting each string element to int
  print(listItems)

[3, 4, 7, 9, 8, 10, 24, 985, 346, 793, 13, 47, 84, 102, 735, 1]

Q1 - Find out the mean and median of the data you extracted and stored in the list, without using any libraries.

In [3]:
n = len(listItems) 
#Mean  
get_sum = sum(listItems)
mean = get_sum / n 

#Median
listItems.sort() 
  
if n % 2 == 0: 
    med1 = listItems[n//2] 
    med2 = listItems[n//2 - 1] 
    median = (med1 + med2)/2
else: 
    median = listItems[n//2] 

print("Mean is: " + str(mean))
print("Median is: " + str(median)) 
listItems

Mean is: 198.1875
Median is: 18.5

[1, 3, 4, 7, 8, 9, 10, 13, 24, 47, 84, 102, 346, 735, 793, 985]

Q2 - Divide the list into 2 separate lists, based on the median. The first list will have all numbers less than the median, and the 2nd list will have all the numbers greater than the median, including the median. Use list slicing to achieve this.

In [6]:
'''x = [i for i in listItems if i<median]
y = [i for i in listItems if i>=median]'''
x = listItems[:8]
y= listItems [8:]
print(x)
print(y)

[1, 3, 4, 7, 8, 9, 10, 13]
[24, 47, 84, 102, 346, 735, 793, 985]

###Given below is a dictionary containing the details of people taking Covid-19 test.

In [7]:
"""
Key - name of the patient
Values - array of 
                1 - Whether the patient has covid-19 or not
                2 - The patient's age
                3 - The temperature of the patient in Fahrenheit Scale
"""
details = {'Ratchel' : ['No', 24, 97], 'Shrek' : ['No', 31, 99], 'Gillard' : ['No', 21, 98], 'Rea' : ['Yes', 23, 102], 'Adam': ['No', 67, 95]}
details

{'Adam': ['No', 67, 95],
 'Gillard': ['No', 21, 98],
 'Ratchel': ['No', 24, 97],
 'Rea': ['Yes', 23, 102],
 'Shrek': ['No', 31, 99]}

Q3 - From the above dictionary, list out all the people who don't have Covid-19, as well as their age lies in the range of 20 - 30 years old

In [8]:

x = details.values()
it = iter(x)

def get_key(val): 
    for key, value in details.items(): 
         if val == value: 
             return key 
l = []
for m in it:
  if (m[0] == 'No'):
    if(m[1]>= 20 and m[1]<=30):
      l.append(get_key(m))

print(l)

['Ratchel', 'Gillard']

Q4 - Sort the above dictionary in decreasing order on the basis of their temperatures.

In [9]:
a = sorted(details.items(), key=lambda x: x[1][2] , reverse =True)    
print(a)

[('Rea', ['Yes', 23, 102]), ('Shrek', ['No', 31, 99]), ('Gillard', ['No', 21, 98]), ('Ratchel', ['No', 24, 97]), ('Adam', ['No', 67, 95])]

##Q5 - Write a simple python script to accept a string as input, and find those words which appear more than 2 times in the string.

E.g. - What profession did Harvard call the Sexiest Job of the 21st Century? That’s right… the data scientist. Ah yes, the ever mysterious data scientist. So what exactly is the data scientist’s secret sauce, and what does this “sexy” person actually do at work every day? This article is intended to help define the data scientist role, including typical skills, qualifications, education, experience, and responsibilities. This definition is somewhat loose since there really isn’t a standardized definition of the data scientist role, and given that the ideal experience and skill set is relatively rare to find in one individual. This definition can be further confused by the fact that there are other roles sometimes thought of as the same, but are often quite different. Some of these include data analyst, data engineer, and so on. More on that later.

Output - 
what
the
of
data
is
and
this
definition
that

In [10]:

from collections import Counter


sentence = input('Enter a sentence: ')
sentence1 = sentence[:-1] 
words = sentence1.lower().split()
a = Counter(words)
l=[]
for word in a:
  if (words.count(word)>2):
    l.append(word)

s = " ".join(l)
print(l)
print(s)

Enter a sentence:  What profession did Harvard call the Sexiest Job of the 21st Century? That’s right… the data scientist. Ah yes, the ever mysterious data scientist. So what exactly is the data scientist’s secret sauce, and what does this “sexy” person actually do at work every day? This article is intended to help define the data scientist role, including typical skills, qualifications, education, experience, and responsibilities. This definition is somewhat loose since there really isn’t a standardized definition of the data scientist role, and given that the ideal experience and skill set is relatively rare to find in one individual. This definition can be further confused by the fact that there are other roles sometimes thought of as the same, but are often quite different. Some of these include data analyst, data engineer, and so on. More on that later.
['what', 'the', 'of', 'data', 'is', 'and', 'this', 'definition', 'that']
what the of data is and this definition that